<footer class="site-footer align-center">
  <div class="row">
    <h4>Terms & conditions</h4>
    <hr class="center" />
    <p>
      Availability may be extremely limited, particularly during peak periods. Holidays must be booked by 23:59 12 September 2016 for selected dates between 5 September 2016 – 30 April 2017.
    </p>
    <p>
      The holidays featured are ATOL protected under the British Airways Holidays number ATOL 5985. British Airways Holidays standard terms and conditions and conditions of carriage apply. For full terms and conditions please refer to www.ba.com.
    </p>
    <hr class="center" />
    © Copyright <span class="js-year">2014</span> Secret Escapes
  </div>
</footer>
