// styles for the offer blocks that appear on the terrain pages


.offer {
  background-color: #ffffff;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid rgba(0,0,0,0.2);
  .row__column{
    margin-top: 0;
  }
}

.offer__image {
  position: relative;
  overflow: hidden;
}

.offer__image-link {
  display: block;
  & img { float:left; }
}

.offer__content {
  padding: $margin*0.8;
  text-align: center;
  p { color: #71757b; }
  p + p { margin-top: .2em; }
  .btn { width: 100%; text-align: center; }
  h5 {
    line-height: 1.5;
    margin-bottom: 0.5em;
    color: #71757b;
    font-size: 0.9em;
  }
}

.offer__content-title {
  margin-bottom: .482em;
  font-size: 1.328em;
}

.offer__content-subtitle {
  margin-bottom: .833em;
  font-size: 1.2em;
  line-height: 1.44;
  &:before {
    content: "";
    display: inline-block;
    height: 1em;
    width: .833em;
    margin-right: .482em;
    margin-bottom: .2em;
    vertical-align: bottom;
    background-image: url( "../img/icon/map-pin.png" );
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: contain;
    .svg & { background-image: url( "../img/icon/map-pin.svg" ); }
  }
}

.offer__content-price {
  font-size: 1.3em;
}
